* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* HEADER SECTION */

header {
    width: 100%;
    height: 70px;
    background-color: #3784f7;

}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo-container {
    margin-left: 30px;
}

.nav-container {

    margin-right: 30px;
}

.nav-container a {
    display: none;
}

.nav-container .big {
    display: none;
}

/* ---------------------------------------- */
/* MAIN SECTION */

/* Services Section */
.cetnered-container {
    width: 85vw;
    margin: 0 auto;

}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 40px 0 60px 0;
}


.services .col {
    background-color: #b5ddff;
    border-radius: 5%;
    width: 100%;
}

.demo {

    height: 80vh;
    width: 100%;

}

.demo h3 {
    color: #3784f7;
    text-align: center;
    padding: 30px;
}

.demo p {
    padding: 0 15px;
}

.btn-appStore {
    background-color: #3784f7;
    color: white;
    width: 180px;
    height: 35px;
    text-align: center;
    border-radius: 25px;
    padding: 7px;
    margin: 30px auto;

}

.btn-appStore span {
    padding-left: 5px;
}


.demo img {
    width: 221px;
    margin: 0 auto;
    display: block;

}

.clean-code,
.web-design,
.developement,
.branding {

    height: 50vh;
    width: 100%;
    text-align: center;

}


.card-icon {
    color: #3784f7;
    font-size: 80px;
    padding: 30px 0;

}

.col h3 {
    color: #3784f7;
    font-size: 20px;
}

.col p {
    padding: 25px 15px;
}



/* Planning Section */
.planning {
    min-height: 80vh;
    background-color: #9792e4;
    padding: 10px 0 60px 0;
}

.strategic-plan {
    color: white;
}

.strategic-plan img {
    width: 80%;
    margin: 20px;
}

.strategic-plan p {
    padding: 30px 0;
}

.app-dev {

    background-color: white;
    border-radius: 10%;
    text-align: center;

}

.app-dev img {
    width: 65%;
    margin: 0 auto;
    display: block;
    padding: 25px 0;
}


.app-dev p {
    padding: 25px 15px;
}

.app-dev .fa-arrow-down {
    background-color: #9792e4;
    border-radius: 50%;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

/* Testimonial Section */

.testimonial {
    padding: 50px 0;
    text-align: center;

}

.testimonial h3 {
    color: #9792e4;
    font-size: 25px;
}

.testimonial p {
    padding: 30px 0;
}

.testimonies {
    background-color: #9792e4;
    border-radius: 10%;
    margin: 20px auto;
    color: white;

}

.image-container {
    padding: 25px 0 0 0;
}

.round-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.testimonies p {
    padding: 10px 15px;
}

/* Benefits Section */
.benefits {
    min-height: 80vh;
    background-color: #9792e4;
    padding: 60px 0;
}

.benefits .columns {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.benefits h4 {
    padding-bottom: 50px;
    text-align: center;
}

.columns .col {

    background-color: white;
    border-radius: 5%;

}


.columns .col h1,
.columns .col h2 {
    padding: 10px 15px;
    color: #9792e4;
}


.columns .col a {
    background-color: #9792e4;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    width: 100px;
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 15px;
    padding: 5px;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: 1px;
}


/* About us Section  */
.about-us {
    padding: 60px 0;
}

/*Pricing Section*/
.pricing {
    padding: 60px 0;
    background-color: #9792e4;
}

.get-started {
    text-align: center;

}

/* ---------------------------------------- */
/* FOOTER SECTION */
footer {
    background-color: rgb(37, 37, 37);
    padding: 60px 0;
}

.footer {
    text-align: center;
    color: white;

}

.footer a:visited {
    color: #9792e4;

}



/* ---------------------------------------- */
/* MEDIA QUERIES */

/* TABLET */

/* Main Section Media */
/* Services Media */

@media screen and (min-width: 768px) {

    .services {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .demo.col {

        width: calc(67% - 1rem);
    }

    .clean-code.col {
        width: calc(33% - 1rem);
        height: 80vh;
    }

    .web-design.col,
    .developement.col,
    .branding.col {

        width: calc(32% - 1rem);
    }


    /* Planning Media */


    .app-dev {
        border-radius: 20px;
    }



    /* Testimonial Media */

    .testimonies {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

    }


    /* Benefits Media */


    .benefits .columns {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;

    }


    .columns .col {

        width: calc(46%);

    }


    /* About us Media  */

    .about-us {
        display: flex;

    }


}

/* ---------------------------------------- */

/* DESKTOP MEDIA */
/* Header Media */
@media screen and (min-width: 992px) {

    .cetnered-container {
        width: 75vw;
    }

    .logo-container {
        margin-left: 55px;
    }

    .nav-container {
        width: 50%;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .nav-container a {
        display: inline-block;
        text-decoration: none;
        color: white;
    }

    .nav-container .small {
        display: none;
    }

    .nav-container .big {
        display: inline-block;
        background-color: white;
        color: black;
        padding: 8px 12px;
        border-radius: 25px;
    }


    /* Services Media */


    .services {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .demo {

        display: flex;

    }


    .demo img {
        width: 250px;
        margin: 53px 20px;
        display: inline-block;


    }



    .demo.col {

        width: calc(67% - 1rem);
        height: 50vh;
    }



    .clean-code.col {
        width: calc(33% - 1rem);
        height: 50vh;
    }

    .web-design.col,
    .developement.col,
    .branding.col {

        width: calc(32.5% - 1rem);
    }


    /* Planning Media */



    .app-dev {
        border-radius: 20px;
        max-height: 70vh;
    }


    .planning-flexed {
        display: flex;

    }



    /* Testimonial Media */

    .testimonies {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

    }


    .testimonial p {
        padding: 10px 0;
        text-align: left;
    }


    .image-container {
        padding: 25px 25px;
    }



    /* Benefits Media */


    .benefits .columns {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;

    }


    .columns .col {

        width: calc(30%);

    }


    /* About us Media  */

    .about-us {
        display: flex;

    }


}